{"openapi": "3.1.0", "info": {"title": "HeyGen External API", "version": "1.0.0", "description": "HeyGen's external API for programmatic AI video creation. See https://docs.heygen.com for full documentation.", "contact": {"name": "HeyGen Product Infra", "url": "https://heygen.com"}}, "servers": [{"url": "https://api.heygen.com", "description": "Production"}], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "tags": [{"name": "Video Agent", "description": "Create videos from text prompts using AI"}, {"name": "Videos", "description": "Create, list, retrieve, and delete videos"}, {"name": "Templates", "description": "Generate videos from reusable templates by replacing their variables"}, {"name": "Voices", "description": "Text-to-speech and voice management"}, {"name": "Audio", "description": "Search the background-music and sound-effects catalog"}, {"name": "Video Translate", "description": "Translate videos into other languages"}, {"name": "AI Clipping", "description": "Turn long-form videos into ready-to-share short clips with captions"}, {"name": "Batches", "description": "Create and track batches of videos."}, {"name": "Video Translation Batches", "description": "Create and track batches of video translations."}, {"name": "Lipsync Batches", "description": "Create and track batches of lipsyncs."}, {"name": "Asset Batches", "description": "Create and track batches of direct-to-S3 asset uploads."}, {"name": "User", "description": "Account information and billing"}, {"name": "Avatars", "description": "List and manage avatars and looks"}, {"name": "Assets", "description": "Upload files for use in video creation"}, {"name": "Webhooks", "description": "Manage webhook endpoints and events"}, {"name": "Lipsync", "description": "Dub or replace audio on existing videos"}, {"name": "Brand", "description": "Brand-related resources \u2014 brand kits (colors, fonts, logos) and brand glossaries (custom term translations)"}, {"name": "HyperFrames", "description": "Render HyperFrames composition zips into video \u2014 separate from /v3/videos"}, {"name": "Filler Word Removal", "description": ""}], "paths": {"/v1/video_agent/generate": {"post": {"summary": "Create a video from a prompt", "description": "Create a video from a text prompt using HeyGen's Video Agent. This is the recommended way to create videos \u2014 just describe what you want and the agent handles avatar selection, scripting, and production. The video is generated asynchronously \u2014 use the returned video_id to poll status via GET /v2/videos/{video_id}.", "tags": ["Video Agent"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"type": ["object", "null"], "default": null}, "data": {"$ref": "#/components/schemas/ExternalCreateVideoAgentSessionResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/LegacyAPIError"}, "data": {"type": ["object", "null"], "default": null}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/LegacyAPIError"}, "data": {"type": ["object", "null"], "default": null}}}, "example": {"error": {"code": "unauthorized", "message": "Unauthorized"}, "data": null}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/LegacyAPIError"}, "data": {"type": ["object", "null"], "default": null}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests"}, "data": null}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "createVideoAgent", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExternalCreateVideoAgentSessionRequest"}}}}, "x-heygen-required-scopes": ["video_agent:write"]}}, "/v3/video-agents": {"post": {"summary": "Create Video Agent Session", "description": "One-shot video generation from a prompt \u2014 agent handles scripting, avatar selection, scene composition, and rendering. Supports generate (fire-and-forget) and chat (multi-turn) modes.", "tags": ["Video Agent"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/CreateVideoAgentResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'prompt' is required and must be 1-10000 characters.", "param": "prompt", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/create-video-agent-session"}, "operationId": "createVideoAgentV3", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateVideoAgentRequest"}}}}, "x-heygen-required-scopes": ["video_agent:write"]}, "get": {"summary": "List Video Agent Sessions", "description": "Returns a paginated list of video agent sessions for the authenticated user, sorted newest-first.", "tags": ["Video Agent"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/SessionListItem"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/list-video-agent-sessions"}, "operationId": "listVideoAgentSessions", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "Results per page (1-100).", "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}}, {"name": "token", "in": "query", "required": false, "description": "Opaque cursor token for the next page. Obtained from next_token in a previous response.", "schema": {"type": "string"}}], "x-heygen-required-scopes": ["video_agent:read"]}}, "/v3/video-agents/styles": {"get": {"summary": "List Video Agent Styles", "description": "Returns curated visual style templates available for Video Agent sessions. Each style controls scene composition, pacing, and aesthetics. Supports tag filtering (e.g. 'cinematic', 'retro-tech').", "tags": ["Video Agent"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/StyleItem"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'limit' must be between 1 and 50.", "param": "limit", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/list-video-agent-styles"}, "operationId": "listVideoAgentStyles", "parameters": [{"name": "tag", "in": "query", "required": false, "description": "Filter by tag (e.g., 'cinematic', 'retro-tech', 'iconic-artist', 'pop-culture', 'handmade', 'print').", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "required": false, "description": "Results per page (1-100).", "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}}, {"name": "token", "in": "query", "required": false, "description": "Opaque cursor token for the next page. Obtained from next_token in a previous response.", "schema": {"type": "string"}}], "x-heygen-required-scopes": ["video_agent:read"]}}, "/v3/brand-glossaries": {"get": {"summary": "List Brand Glossaries", "description": "List brand glossaries (custom term mappings, a.k.a. brand voices) in the authenticated user's workspace. A brand glossary controls how custom terms are pronounced in generated speech \u2014 for example, speaking \"HeyGen\" as \"hey-jen\" \u2014 and how they are handled when a video is translated: Don't Translate terms kept as-is, and Force Translate terms with a fixed replacement.\n\nPass the returned `brand_glossary_id` when creating a video or translation to apply the glossary. Use GET /v3/brand-glossaries/{brand_glossary_id} to see which terms it remaps, POST /v3/brand-glossaries to create one, and PATCH /v3/brand-glossaries/{brand_glossary_id} to change one.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/BrandGlossaryItem"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'limit' must be between 1 and 100.", "param": "limit", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/list-brand-glossaries"}, "operationId": "listBrandGlossaries", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "Maximum number of brand glossaries to return (1-100). Default 10.", "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 10}}, {"name": "token", "in": "query", "required": false, "description": "Opaque pagination cursor from a previous response's `next_token`. Omit for the first page.", "schema": {"type": "string"}}], "x-heygen-required-scopes": ["brand:read"]}, "post": {"summary": "Create Brand Glossary", "description": "Creates a brand glossary in your workspace. Pass the returned `brand_glossary_id` when creating a video or translation to apply it.\n\n`name` must be unique within your workspace, compared without regard to case; a duplicate returns 409. `terms`, `do_not_translate_terms` and `forced_translations` may each be omitted to create an empty glossary you fill in later with PATCH /v3/brand-glossaries/{brand_glossary_id}.\n\nPronunciations affect generated audio only \u2014 a term keeps its original spelling in captions and subtitles. `do_not_translate_terms` and `forced_translations` apply only when the glossary is used by a translation feature (video translation, Studio script translation, on-screen text translation), in every target language; they have no effect on video generation or text-to-speech requests. Tone settings are managed in the HeyGen web app and cannot be set here.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"201": {"description": "Created.", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/BrandGlossaryDetail"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'name' must be between 1 and 64 characters.", "param": "name", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "409": {"description": "Conflict \u2014 either the request conflicts with existing state, or a prior request with this `Idempotency-Key` is still in progress (`request_in_progress`).", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "examples": {"conflict": {"summary": "Resource conflict", "value": {"error": {"code": "conflict", "message": "A brand glossary with this name already exists.", "param": null, "doc_url": null}}}, "request_in_progress": {"summary": "Concurrent retry with same Idempotency-Key", "value": {"error": {"code": "request_in_progress", "message": "A request with this Idempotency-Key is already in progress. Retry shortly.", "param": null, "doc_url": null}}}}}}}}, "x-mint": {"href": "/reference/create-brand-glossary"}, "operationId": "createBrandGlossary", "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateBrandGlossaryRequest"}}}}, "x-heygen-required-scopes": ["brand:write"]}}, "/v3/brand-kits": {"post": {"summary": "Create Brand Kit", "description": "Creates a brand kit by importing brand assets from a public website, including logos, colors and font files found on the site. By calling this endpoint you confirm you have the rights and licenses necessary to upload, store and use those assets in HeyGen.\n\nThe kit is assembled in the background: the returned brand_kit_id is usable immediately, but poll GET /v3/brand-kits/{brand_kit_id} every 2 to 5 seconds until its status is 'completed' before relying on its colors, logos or fonts. A website import usually settles in under two minutes.\n\nSend an Idempotency-Key header to make retries safe: without one, a retried request starts a second import of the same site.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"201": {"description": "Created.", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/CreateBrandKitResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "URL is not supported", "param": null, "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "forbidden", "message": "Your workspace settings do not allow creating brand kits.", "param": null, "doc_url": null}}}}}, "409": {"$ref": "#/components/responses/IdempotencyInProgress"}}, "x-mint": {"href": "/reference/create-brand-kit"}, "operationId": "createBrandKit", "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateBrandKitRequest"}}}}, "x-heygen-required-scopes": ["brand:write"]}, "get": {"summary": "List Brand Kits", "description": "Returns brand kits available in the authenticated user's workspace. Each brand kit contains colors, fonts, and logos that can be applied to Video Agent sessions. Use the returned brand_kit_id with POST /v3/video-agents to generate on-brand videos.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/BrandKitItem"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'limit' must be between 1 and 100.", "param": "limit", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/list-brand-kits"}, "operationId": "listBrandKits", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "Results per page (1-100).", "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}}, {"name": "token", "in": "query", "required": false, "description": "Opaque cursor token for the next page. Obtained from next_token in a previous response.", "schema": {"type": "string"}}], "x-heygen-required-scopes": ["brand:read"]}}, "/v3/brand-kits/{brand_kit_id}": {"get": {"summary": "Get Brand Kit", "description": "Returns one brand kit with the colors, logos and fonts it was built from, and which of them play which role. A brand kit imported from a website is assembled in the background: while status is 'loading' the collections and roles are provisional, and they are final once status is 'completed'. Poll every 2 to 5 seconds while status is 'loading'; a website import usually settles in under two minutes, and fonts are typically the last thing to land.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/BrandKitDetail"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_not_found", "message": "Brand kit not found.", "param": null, "doc_url": null}}}}}}, "x-mint": {"href": "/reference/get-brand-kit"}, "operationId": "getBrandKit", "parameters": [{"name": "brand_kit_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Unique brand kit identifier"}], "x-heygen-required-scopes": ["brand:read"]}, "patch": {"summary": "Update Brand Kit", "description": "Updates a brand kit's name or its role assignments \u2014 which color plays which part, which logo is the main one, and which font is used for headings and body text. A field you omit is left unchanged.\n\nCreation assigns these roles automatically, with no human in the loop, so this is how a caller corrects them.\n\nEach role object is replaced in full rather than merged: send the roles you want to keep, since a role you leave out of the object is cleared. Send an empty object to clear a role entirely. A cleared role stays cleared and is not recomputed later. Sending null for any field is rejected: omit it to leave it unchanged.\n\nRole edits require an assembled kit and return 409 while status is 'loading' or 'error'. Renaming is allowed at any time. Editing the colors themselves is not supported here yet.\n\nA brand kit shared into your workspace by another workspace is readable but not editable, and returns 403.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/BrandKitDetail"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "Provide at least one field to update.", "param": null, "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_not_found", "message": "Brand kit not found.", "param": null, "doc_url": null}}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_access_denied", "message": "This brand kit is shared with your workspace and can only be edited by the workspace that owns it.", "param": null, "doc_url": null}}}}}, "409": {"description": "Conflict", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "brand_kit_not_ready", "message": "This brand kit is still being assembled (status 'loading'). Roles can only be edited once it is 'completed'.", "param": null, "doc_url": null}}}}}}, "x-mint": {"href": "/reference/update-brand-kit"}, "operationId": "updateBrandKit", "parameters": [{"name": "brand_kit_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Unique brand kit identifier"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateBrandKitRequest"}}}}, "x-heygen-required-scopes": ["brand:write"]}, "delete": {"summary": "Delete Brand Kit", "description": "Deletes a brand kit, along with the colors, logos and fonts it holds.\n\nThis cannot be undone: there is no way to restore a deleted brand kit through the API. A kit that is still assembling can be deleted at any time.\n\nVideos already generated with the kit are unaffected, since their brand colors were applied at render time. A video agent still configured with a deleted kit will report the id as invalid on its next use.\n\nA brand kit shared into your workspace by another workspace can be read but not deleted, and returns 403.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/DeleteBrandKitResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_not_found", "message": "Brand kit not found.", "param": null, "doc_url": null}}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_access_denied", "message": "This brand kit is shared with your workspace and can only be deleted by the workspace that owns it.", "param": null, "doc_url": null}}}}}}, "x-mint": {"href": "/reference/delete-brand-kit"}, "operationId": "deleteBrandKit", "parameters": [{"name": "brand_kit_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Unique brand kit identifier"}], "x-heygen-required-scopes": ["brand:write"]}}, "/v3/brand-glossaries/{brand_glossary_id}": {"get": {"summary": "Get Brand Glossary", "description": "Returns one brand glossary with its full term list, so you can see exactly which terms are remapped and how. Use this to verify a glossary's contents when a generated video pronounces or translates a term unexpectedly.\n\nPronunciations affect generated audio only: a term keeps its original spelling in captions and subtitles while being spoken as its `pronunciation`.\n\nTranslation rules apply only when the glossary is used by a translation feature \u2014 video translation, Studio script translation, and on-screen text translation: `do_not_translate_terms` are kept untranslated in every target language, and `forced_translations` replace their `term` with their `translation` in every target language. They have no effect on video generation or text-to-speech requests; only `terms` applies there. Either list is omitted from the response when the glossary has no rules of that kind. Tone settings are managed in the HeyGen web app under Brand Kit and are not returned here; editing a glossary through this API leaves them unchanged.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/BrandGlossaryDetail"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_not_found", "message": "Brand glossary not found.", "param": null, "doc_url": null}}}}}}, "x-mint": {"href": "/reference/get-brand-glossary"}, "operationId": "getBrandGlossary", "parameters": [{"name": "brand_glossary_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Unique brand glossary identifier"}], "x-heygen-required-scopes": ["brand:read"]}, "patch": {"summary": "Update Brand Glossary", "description": "Updates a brand glossary. Each field is replaced independently: a field you omit is left untouched, a field you send replaces that value in full, and an empty array removes every entry from that list. There is no way to add a single entry \u2014 read the glossary, append to the list, and send the whole list back.\n\nRenaming to a name another glossary in your workspace already uses returns 409.\n\nA glossary's tone settings are managed in the HeyGen web app and are never modified by this endpoint, so a glossary edited there keeps them through an update made here.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/BrandGlossaryDetail"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "Provide at least one field to update.", "param": null, "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_not_found", "message": "Brand glossary not found.", "param": null, "doc_url": null}}}}}, "409": {"description": "Conflict", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "conflict", "message": "A brand glossary with this name already exists.", "param": null, "doc_url": null}}}}}}, "x-mint": {"href": "/reference/update-brand-glossary"}, "operationId": "updateBrandGlossary", "parameters": [{"name": "brand_glossary_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Unique brand glossary identifier"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateBrandGlossaryRequest"}}}}, "x-heygen-required-scopes": ["brand:write"]}, "delete": {"summary": "Delete Brand Glossary", "description": "Deletes a brand glossary.\n\nThis cannot be undone: there is no way to restore a deleted brand glossary through the API.\n\nThe glossary stops being returned by this API at once, and stops applying: neither its pronunciation terms nor its translation rules affect anything generated afterwards.\n\nVideos already generated with the glossary are unaffected, since their audio was synthesized at the time. A video or translation still configured with a deleted glossary keeps working rather than failing.", "tags": ["Brand"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/DeleteBrandGlossaryResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_not_found", "message": "Brand glossary not found.", "param": null, "doc_url": null}}}}}}, "x-mint": {"href": "/reference/delete-brand-glossary"}, "operationId": "deleteBrandGlossary", "parameters": [{"name": "brand_glossary_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Unique brand glossary identifier"}], "x-heygen-required-scopes": ["brand:write"]}}, "/v3/avatars": {"post": {"summary": "Create Avatar", "description": "Creates a new avatar from an image, video footage, or a text prompt. Supports photo, digital_twin, and prompt types. Avatar training is asynchronous.", "tags": ["Avatars"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/CreateAvatarResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "At least one file source is required: provide image, video, or consent_video.", "param": "files", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "409": {"$ref": "#/components/responses/IdempotencyInProgress"}}, "x-mint": {"href": "/reference/create-avatar"}, "operationId": "createAvatar", "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAvatarRequestBody"}}}}, "x-heygen-required-scopes": ["avatars:write"]}, "get": {"summary": "List Avatar Groups", "description": "Returns a paginated list of avatar groups (characters). Each group contains one or more looks. Filterable by ownership.", "tags": ["Avatars"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/AvatarGroupItem"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'limit' must be between 1 and 50.", "param": "limit", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/list-avatar-groups"}, "operationId": "listAvatarGroups", "parameters": [{"name": "ownership", "in": "query", "required": false, "description": "Filter by ownership: 'public' for preset avatars, or 'private' for your own. Omit for all.", "schema": {"type": "string", "enum": ["public", "private"]}}, {"name": "limit", "in": "query", "required": false, "description": "Maximum number of items to return per page (1-50).", "schema": {"type": "integer", "minimum": 1, "maximum": 50, "default": 20}}, {"name": "token", "in": "query", "required": false, "description": "Opaque cursor token for the next page.", "schema": {"type": "string"}}], "x-heygen-required-scopes": ["avatars:read"]}}, "/v3/avatar-realtime": {"post": {"summary": "Create Avatar Realtime Session", "description": "Start a low-latency streaming avatar session and return a `stream_id`. Three modes, selected by the `type` discriminator: `tts` (speak a fixed script), `audio` (drive lip-sync from a pre-existing audio asset), and `text_stream` (seed with initial text, then append more text deltas over time via POST /v3/avatar-realtime/{stream_id}/text \u2014 e.g. as an upstream LLM streams tokens). Poll GET /v3/avatar-realtime/{stream_id} for the session status and HLS playback URL.", "tags": ["Avatar Realtime"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"201": {"description": "Created.", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/CreateAvatarRealtimeResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "Invalid 'type'. Must be one of: tts, audio, text_stream.", "param": "type", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "createAvatarRealtimeSession", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAvatarRealtimeRequestBody"}}}}, "x-heygen-required-scopes": ["avatar_realtime:write"]}}, "/v3/avatar-realtime/{stream_id}": {"get": {"summary": "Get Avatar Realtime Session", "description": "Get the status of a streaming avatar session. `status` is one of `pending` (workflow starting), `streaming` (the `hls_url` is live), `completed` (finished \u2014 `end_reason` describes how), or `error` (`error_message` describes the failure). Poll this after POST /v3/avatar-realtime until `hls_url` is present.", "tags": ["Avatar Realtime"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/AvatarRealtimeStatusResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "not_found", "message": "Streaming session not found.", "param": null, "doc_url": null}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "getAvatarRealtimeSession", "parameters": [{"name": "stream_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Streaming session identifier returned by POST /v3/avatar-realtime."}], "x-heygen-required-scopes": ["avatar_realtime:read"]}}, "/v3/avatar-realtime/{stream_id}/words": {"get": {"summary": "Stream Avatar Realtime Word Timestamps", "description": "Open a Server-Sent Events (`text/event-stream`) stream of per-word timestamps for a session. Each `data:` frame is a `WordBatch` (`{\"words\": [{\"word\", \"start\", \"end\"}, ...]}`); times are in seconds from the start of the streamed audio (matching OpenAI Whisper and ElevenLabs). Punctuation is emitted as its own word event. Batches are capped at ~1s of audio or 10 words, whichever comes first. Late subscribers receive the full session history; completed sessions are served from a durable snapshot. The stream ends with a single `event: end` frame carrying a `WordsEndEvent`.", "tags": ["Avatar Realtime"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Server-Sent Events stream (`text/event-stream`). Each `data:` frame carries one `WordBatch` JSON payload; the stream terminates with a single `event: end` frame whose data is a `WordsEndEvent`.", "content": {"text/event-stream": {"schema": {"$ref": "#/components/schemas/WordBatch"}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "not_found", "message": "Streaming session not found.", "param": null, "doc_url": null}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "streamAvatarRealtimeWords", "parameters": [{"name": "stream_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Streaming session identifier returned by POST /v3/avatar-realtime."}], "x-heygen-required-scopes": ["avatar_realtime:read"]}}, "/v3/avatar-realtime/{stream_id}/text": {"post": {"summary": "Append Avatar Realtime Text", "description": "Append a text delta to a session created with `type: text_stream`. Send fragments as they become available (e.g. tokens streamed from an upstream LLM); the avatar speaks them in order. Set `final: true` on the last delta to close input \u2014 further appends to a closed stream return 410. Returns the total bytes buffered so far.", "tags": ["Avatar Realtime"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"202": {"description": "Accepted \u2014 submission acknowledged; poll for completion.", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/AppendTextDeltaResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'delta' must be non-empty unless final=true.", "param": "delta", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "appendAvatarRealtimeText", "parameters": [{"name": "stream_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Streaming session identifier returned by POST /v3/avatar-realtime."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppendTextDeltaRequest"}}}}, "x-heygen-required-scopes": ["avatar_realtime:write"]}}, "/v3/avatar-realtime/{stream_id}/cancel": {"post": {"summary": "Cancel Avatar Realtime Session", "description": "Cancel a running streaming session. Idempotent: `cancelled` is true when this request initiated the cancellation, or false when the session was already terminal (completed, failed, or previously cancelled).", "tags": ["Avatar Realtime"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"202": {"description": "Accepted \u2014 submission acknowledged; poll for completion.", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/CancelAvatarRealtimeResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "not_found", "message": "Streaming session not found.", "param": null, "doc_url": null}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "cancelAvatarRealtimeSession", "parameters": [{"name": "stream_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Streaming session identifier returned by POST /v3/avatar-realtime."}], "x-heygen-required-scopes": ["avatar_realtime:write"]}}, "/v1/audio/text_to_speech": {"post": {"summary": "Generate speech audio from text", "description": "Synthesize speech audio from text using a specified voice. Returns a URL to the generated audio file along with duration and optional word-level timestamps.", "tags": ["Voices"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/TextToSpeechResponseData"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'voice_id' is required.", "param": "voice_id", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "textToSpeech", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TextToSpeechRequest"}}}}, "x-heygen-required-scopes": ["voices:write"]}}, "/v1/audio/voices": {"get": {"summary": "List voices for text-to-speech", "description": "List voices available for TTS generation with cursor-based pagination. Filter by type (public/private), language, and gender.", "tags": ["Voices"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/AudioVoiceItem"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'limit' must be between 1 and 100.", "param": "limit", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "listAudioVoices", "parameters": [{"name": "type", "in": "query", "required": false, "description": "Voice type: 'public' for the shared library or 'private' for your cloned voices.", "schema": {"type": "string", "enum": ["public", "private"], "default": "public"}}, {"name": "language", "in": "query", "required": false, "description": "Filter by language (e.g. 'English').", "schema": {"type": "string"}}, {"name": "gender", "in": "query", "required": false, "description": "Filter by gender ('male' or 'female').", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "required": false, "description": "Results per page (1-100).", "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}}, {"name": "token", "in": "query", "required": false, "description": "Opaque cursor token for the next page.", "schema": {"type": "string"}}], "x-heygen-required-scopes": ["voices:read"]}}, "/v3/audio/sounds": {"get": {"summary": "Search audio (music or sound effects)", "description": "Semantically search the audio catalog by natural-language description \u2014 set type=music (the default) for background music (e.g. 'upbeat lofi hip-hop', 'tense cinematic riser') or type=sound_effects for SFX (e.g. 'whoosh for a scene change', 'cash register cha-ching'). Returns tracks ranked by similarity, each with a pre-signed download URL, plus cursor-based pagination.", "tags": ["Audio"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/AudioSoundItem"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'query' is required.", "param": "query", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/search-audio-music-or-sound-effects"}, "operationId": "searchAudioSounds", "parameters": [{"name": "query", "in": "query", "required": true, "description": "Natural-language description of the audio you want, e.g. 'upbeat lofi hip-hop' or 'tense cinematic riser'. Results are ranked by semantic similarity to this text.", "schema": {"type": "string", "minLength": 1, "maxLength": 5000}}, {"name": "type", "in": "query", "required": false, "description": "Audio content type to search: 'music' (background-music catalog) or 'sound_effects' (SFX catalog). Defaults to 'music'.", "schema": {"type": "string", "enum": ["music", "sound_effects"], "default": "music"}}, {"name": "limit", "in": "query", "required": false, "description": "Maximum number of results to return (1-50).", "schema": {"type": "integer", "minimum": 1, "maximum": 50, "default": 10}}, {"name": "min_score", "in": "query", "required": false, "description": "Minimum semantic similarity score (0-1). Tracks scoring below this are omitted.", "schema": {"type": "number", "minimum": 0.0, "maximum": 1.0, "default": 0.7}}, {"name": "token", "in": "query", "required": false, "description": "Opaque cursor token for the next page, taken from 'next_token' in a prior response.", "schema": {"type": "string"}}], "x-heygen-required-scopes": ["assets:read"]}}, "/v3/voices/speech": {"post": {"summary": "Generate Speech", "description": "Synthesize speech audio from text using a specified voice. The voice must support the starfish engine \u2014 use GET /v3/voices?engine=starfish to find compatible voices. Supports plain text and SSML. Speed range: 0.5\u20132.0x. Returns a URL to the generated audio file along with duration and optional word-level timestamps.", "tags": ["Voices"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/TextToSpeechResponseData"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'voice_id' is required.", "param": "voice_id", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/generate-speech"}, "operationId": "createSpeechV3", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TextToSpeechRequest"}}}}, "x-heygen-required-scopes": ["voices:write"]}}, "/v3/voices": {"post": {"summary": "Design a Voice", "description": "Returns up to 3 voices matching a natural language description (e.g. 'warm, confident female narrator'). Use the seed parameter to get different batches of results.", "tags": ["Voices"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/DesignVoiceResponseData"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'prompt' is required.", "param": "prompt", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/design-a-voice"}, "operationId": "designVoice", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DesignVoiceRequest"}}}}, "x-heygen-required-scopes": ["voices:write"]}, "get": {"summary": "List Voices", "description": "Returns a paginated list of voices, filterable by type, engine, language, and gender. Use engine=starfish for voices compatible with the TTS endpoint.", "tags": ["Voices"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/AudioVoiceItem"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "'limit' must be between 1 and 100.", "param": "limit", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}}, "x-mint": {"href": "/reference/list-voices"}, "operationId": "listVoicesV3", "parameters": [{"name": "type", "in": "query", "required": false, "description": "Voice type: 'public' for the shared library or 'private' for your cloned voices.", "schema": {"type": "string", "enum": ["public", "private"], "default": "public"}}, {"name": "engine", "in": "query", "required": false, "description": "Filter by voice engine (e.g. 'starfish'). When set, only voices compatible with that engine are returned.", "schema": {"type": "string"}}, {"name": "language", "in": "query", "required": false, "description": "Filter by language (e.g. 'English').", "schema": {"type": "string"}}, {"name": "gender", "in": "query", "required": false, "description": "Filter by gender ('male' or 'female').", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "required": false, "description": "Results per page (1-100).", "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}}, {"name": "token", "in": "query", "required": false, "description": "Opaque cursor token for the next page.", "schema": {"type": "string"}}], "x-heygen-required-scopes": ["voices:read"]}}, "/v3/voices/clone": {"post": {"summary": "Clone a Voice", "description": "Creates a voice clone from an audio file. Returns a voice_clone_id that can be polled via GET /v3/voices/{voice_clone_id} until the status is 'complete'. The resulting voice can be used with POST /v3/voices/speech and POST /v3/videos.", "tags": ["Voices"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/VoiceCloneCreateV3Response"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_limit_reached", "message": "Voice clone limit reached (10). Delete unused clones or contact support to increase your limit."}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "plan_upgrade_required", "message": "Voice cloning is not available on the free tier. Please upgrade your plan."}}}}}}, "x-mint": {"href": "/reference/clone-a-voice"}, "operationId": "cloneVoice", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateVoiceCloneV3Request"}}}}, "x-heygen-required-scopes": ["voices:write"]}}, "/v3/models/audio/voices": {"post": {"summary": "Create or Retrain an Audio Voice", "description": "Creates a model-backed audio voice from one or more recordings, or retrains an existing professional voice when `voice_id` is supplied. Retraining requires only `voice_id` and source audio and retains the existing voice's ID, name, language, and mode. The voice is `PENDING` and unavailable for inference while either operation runs. Poll `GET /v3/models/audio/voices/{voice_id}` until its status becomes `ACTIVE` or `FAILED`. `Idempotency-Key` is optional; omitting it means repeated creation requests create separate voices. New voices require an unoccupied professional-voice slot. Each purchased slot provides five pooled trainings per monthly billing period, including initial training; failed trainings do not consume the allowance.", "tags": ["Models"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"202": {"description": "Accepted \u2014 submission acknowledged; poll for completion.", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/CreateModelAudioVoiceResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "examples": {"invalid_audio": {"summary": "Source audio does not satisfy training requirements", "value": {"error": {"code": "invalid_parameter", "message": "The supplied recordings must contain at least 20 minutes of audio in total.", "param": "audio", "doc_url": null}}}, "voice_capacity": {"summary": "All purchased professional-voice slots are occupied", "value": {"error": {"code": "resource_limit_reached", "message": "No professional voice slots are available. Purchase another slot, or delete a voice after its training finishes."}}}, "training_allowance": {"summary": "The monthly professional-voice training allowance is exhausted", "value": {"error": {"code": "resource_limit_reached", "message": "The monthly professional voice training allowance is exhausted. Try again in the next billing period or purchase another slot."}}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "voice_not_found", "message": "Voice not found.", "param": null, "doc_url": null}}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "forbidden", "message": "The professional voice cloning API is not enabled for this account.", "param": null, "doc_url": null}}}}}, "409": {"description": "Conflict \u2014 either the request conflicts with existing state, or a prior request with this `Idempotency-Key` is still in progress (`request_in_progress`).", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "examples": {"conflict": {"summary": "Resource conflict", "value": {"error": {"code": "resource_not_ready", "message": "The professional voice must be ACTIVE and have no training in progress before it can be retrained.", "param": null, "doc_url": null}}}, "request_in_progress": {"summary": "Concurrent retry with same Idempotency-Key", "value": {"error": {"code": "request_in_progress", "message": "A request with this Idempotency-Key is already in progress. Retry shortly.", "param": null, "doc_url": null}}}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "createModelAudioVoice", "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateModelAudioVoiceRequest"}}}}, "x-heygen-required-scopes": ["voices:write"]}, "get": {"summary": "List Audio Voices", "description": "Returns the model-backed audio voices in the caller's workspace, ordered newest first. Use `limit` and `token` to retrieve additional pages.", "tags": ["Models"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ModelAudioVoiceResponse"}}, "has_more": {"type": "boolean", "description": "Whether more pages are available"}, "next_token": {"type": ["string", "null"], "description": "Opaque cursor for the next page"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "invalid_parameter", "message": "Invalid pagination token", "param": "token", "doc_url": null}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "forbidden", "message": "The professional voice cloning API is not enabled for this account.", "param": null, "doc_url": null}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "listModelAudioVoices", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "Maximum number of voices to return per page.", "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 10}}, {"name": "token", "in": "query", "required": false, "description": "Opaque pagination token returned by a previous request.", "schema": {"type": "string", "minLength": 1}}], "x-heygen-required-scopes": ["voices:read"]}}, "/v3/models/audio/tts": {"post": {"summary": "Generate Speech", "description": "Generates speech using the voice identified by `voice_id` and returns a URL for one completed mono PCM16 WAV file at 44.1 kHz. The request remains open until synthesis and output assembly finish. The voice must be an ACTIVE professional voice. Rate limit: 30 requests per minute per workspace member.", "tags": ["Models"], "security": [{"ApiKeyAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/CreateSpeechResponseData"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "examples": {"invalid_parameter": {"summary": "Unsupported language", "value": {"error": {"code": "invalid_parameter", "message": "language is not a supported language.", "param": "language", "doc_url": null}}}, "voice_expired": {"summary": "Professional voice clone over the workspace slot limit", "value": {"error": {"code": "voice_expired", "message": "Professional voice clone 'voice-1' expired because this workspace exceeded its professional voice clone slot limit of 2. Purchase more professional voice clone slots, or delete other professional voice clones to bring the workspace within its limit, then try again.", "param": null, "doc_url": null}}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "402": {"description": "Insufficient credit", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "insufficient_credit", "message": "Insufficient API credits. Purchase additional API credits to generate speech.", "param": null, "doc_url": null}}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "voice_not_found", "message": "Voice not found.", "param": null, "doc_url": null}}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "forbidden", "message": "The professional voice cloning API is not enabled for this account.", "param": null, "doc_url": null}}}}}, "503": {"description": "Temporarily unavailable \u2014 the request did not complete and is safe to retry.", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "service_unavailable", "message": "Voice inference is temporarily busy. Retry the request.", "param": null, "doc_url": null}}}}}, "409": {"description": "Conflict \u2014 `error.code` is one of: `voice_not_ready`, `voice_training_failed`.", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "examples": {"voice_not_ready": {"summary": "Voice training is not complete", "value": {"error": {"code": "voice_not_ready", "message": "The professional voice clone is not ready for inference.", "param": null, "doc_url": null}}}, "voice_training_failed": {"summary": "Voice training failed", "value": {"error": {"code": "voice_training_failed", "message": "The professional voice clone failed training.", "param": null, "doc_url": null}}}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "generateModelSpeech", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateSpeechRequest"}}}}}}, "/v3/models/audio/tts/stream": {"post": {"summary": "Stream Speech", "description": "Generates speech as Server-Sent Events. Audio events contain ordered base64-encoded standalone WAV parts; alignment events are included only when `with_timestamps` is true. A clean stream ends with `data: [DONE]`. The voice identified by `voice_id` must be an ACTIVE professional voice. Rate limit: 30 requests per minute per workspace member.", "tags": ["Models"], "security": [{"ApiKeyAuth": []}], "responses": {"200": {"description": "Server-Sent Events stream. Each `data:` frame contains an audio, alignment, or terminal error event; a clean stream terminates with `data: [DONE]`.", "content": {"text/event-stream": {"schema": {"$ref": "#/components/schemas/SpeechStreamEvent"}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "examples": {"invalid_parameter": {"summary": "Unsupported language", "value": {"error": {"code": "invalid_parameter", "message": "language is not a supported language.", "param": "language", "doc_url": null}}}, "voice_expired": {"summary": "Professional voice clone over the workspace slot limit", "value": {"error": {"code": "voice_expired", "message": "Professional voice clone 'voice-1' expired because this workspace exceeded its professional voice clone slot limit of 2. Purchase more professional voice clone slots, or delete other professional voice clones to bring the workspace within its limit, then try again.", "param": null, "doc_url": null}}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "402": {"description": "Insufficient credit", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "insufficient_credit", "message": "Insufficient API credits. Purchase additional API credits to generate speech.", "param": null, "doc_url": null}}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "voice_not_found", "message": "Voice not found.", "param": null, "doc_url": null}}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "forbidden", "message": "The professional voice cloning API is not enabled for this account.", "param": null, "doc_url": null}}}}}, "503": {"description": "Temporarily unavailable \u2014 the request did not complete and is safe to retry.", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "service_unavailable", "message": "Voice inference is temporarily busy. Retry the request.", "param": null, "doc_url": null}}}}}, "409": {"description": "Conflict \u2014 `error.code` is one of: `voice_not_ready`, `voice_training_failed`.", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "examples": {"voice_not_ready": {"summary": "Voice training is not complete", "value": {"error": {"code": "voice_not_ready", "message": "The professional voice clone is not ready for inference.", "param": null, "doc_url": null}}}, "voice_training_failed": {"summary": "Voice training failed", "value": {"error": {"code": "voice_training_failed", "message": "The professional voice clone failed training.", "param": null, "doc_url": null}}}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "streamModelSpeech", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/StreamSpeechRequest"}}}}}}, "/v3/models/audio/voices/{voice_id}": {"get": {"summary": "Get an Audio Voice", "description": "Returns one caller-owned model-backed audio voice and its current lifecycle state. `PENDING` covers queued and running work, `ACTIVE` is ready for inference, and `FAILED` is terminal.", "tags": ["Models"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/ModelAudioVoiceResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "voice_not_found", "message": "Voice not found.", "param": null, "doc_url": null}}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "forbidden", "message": "The professional voice cloning API is not enabled for this account.", "param": null, "doc_url": null}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "getModelAudioVoice", "parameters": [{"name": "voice_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Unique voice identifier"}], "x-heygen-required-scopes": ["voices:read"]}, "delete": {"summary": "Delete an Audio Voice", "description": "Deletes the caller-owned model-backed audio voice. The voice is removed from subsequent reads, but a voice cannot be deleted while its status is `PENDING`. Wait for training to finish and retry. Repeating a successful deletion returns the same successful response.", "tags": ["Models"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/DeleteModelAudioVoiceResponse"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "voice_not_found", "message": "Voice not found.", "param": null, "doc_url": null}}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "forbidden", "message": "The professional voice cloning API is not enabled for this account.", "param": null, "doc_url": null}}}}}, "409": {"description": "Conflict", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "resource_not_ready", "message": "A professional voice cannot be deleted while training is in progress. Wait until its status is ACTIVE or FAILED, then retry.", "param": null, "doc_url": null}}}}}}, "x-mcp-visible": false, "x-cli-visible": false, "x-excluded": true, "operationId": "deleteModelAudioVoice", "parameters": [{"name": "voice_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Unique voice identifier"}], "x-heygen-required-scopes": ["voices:write"]}}, "/v3/voices/{voice_id}": {"get": {"summary": "Get Voice", "description": "Returns details for a specific voice, including clone workflow status when available. Use this to poll a voice clone until its status is 'complete'.", "tags": ["Voices"], "security": [{"ApiKeyAuth": []}, {"BearerAuth": []}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/VoiceDetailV3"}}}}}}, "400": {"description": "Invalid request parameters", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}}}}, "401": {"description": "Authentication failed", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "unauthorized", "message": "Invalid or expired API key. Verify your x-api-key header.", "param": null, "doc_url": null}}}}}, "429": {"description": "Rate limit exceeded", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "rate_limit_exceeded", "message": "Too many requests. Retry after the duration specified in the Retry-After header.", "param": null, "doc_url": null}}}}, "headers": {"Retry-After": {"description": "Seconds to wait before retrying", "schema": {"type": "integer"}}}}, "404": {"description": "Resource not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"error": {"$ref": "#/components/schemas/StandardAPIError"}}}, "example": {"error": {"code": "voice_not_found", "message": "Voice not found.", "param": null, "doc_url": null}}}}}}, "x-mint": {"href": "/reference/get-voice"}, "operationId": "getVoi
[...]
